<h1><%= @item.name %></h1>

<p><%= link_to "Update #{@item.name} info", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %></p>

<h4>Description:</h4>
<%= @item.description %>
<h4>Current Selling Price:</h4>
<%= @item.unit_price %>
